services:
  dev:
    build:
      context: .
      target: dev
    image: kifuoku-dev
    container_name: covay
    ports:
      - "8181:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    profiles:
      - dev

  prod:
    build:
      context: .
      target: prod
    image: kifuoku-prod
    container_name: covay
    ports:
      - "9090:80"
    environment:
      - NODE_ENV=production
    profiles:
      - prod
