services:
  dev:
    build:
      context: .
      target: dev
    image: kifuoku-dev
    container_name: kifuoku
    ports:
      - "8181:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    profiles:
      - dev

  prod:
    build:
      context: .
      target: prod
      args:
        - VITE_POSTHOG_KEY=${VITE_POSTHOG_KEY}
        - VITE_POSTHOG_HOST=${VITE_POSTHOG_HOST}
    image: kifuoku-prod
    container_name: kifuoku
    ports:
      - "9090:80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    profiles:
      - prod
