@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
}

.hasPendingMove :global(.shudan-vertex .shudan-ghost) {
  left: 0.04em;
  top: 0.04em;
  width: calc(100% - 0.08em);
  height: calc(100% - 0.08em);
  transform: none;
  opacity: 1;
  animation: pulse 1s ease-in-out infinite;
}

.hasPendingMove :global(.shudan-vertex .shudan-ghost::before) {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0;
}

.hasPendingMove :global(.shudan-vertex.shudan-ghost_1 .shudan-ghost::before) {
  background: url('../../node_modules/@sabaki/shudan/css/stone_1.svg');
  background-size: 100% 100%;
}

.hasPendingMove :global(.shudan-vertex.shudan-ghost_-1 .shudan-ghost::before) {
  background: url('../../node_modules/@sabaki/shudan/css/stone_-1.svg');
  background-size: 100% 100%;
}

@media (hover: hover) and (pointer: fine) {
  .hasHoverPreview :global(.shudan-vertex .shudan-ghost) {
    opacity: 0.4;
    animation: none;
  }
}
