.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 40px;
  font-family: sans-serif;
}

.title {
  font-size: 32px;
  margin: 0 0 16px 0;
}

.message {
  font-size: 18px;
  color: #666;
  margin: 0;
}
